.container {
    background-image: url("../../img/background.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    flex-wrap: nowrap;
    background-position: top;
    will-change: overflow;
    overflow: hidden;
}

.content {
    height: 100vh;
    display: flex;
}

.content__headings {
    flex-direction: column;
    display: flex;
    font-weight: 200;
    flex: 0 0 50%;
    color: var(--color-white);
    padding: 5rem;
    text-align: left;
}

.content__questions {
    flex: 1;
    padding: 5rem;
    text-align: left;
    font-weight: 200;
    color: var(--color-black);
    background-color: var(--color-white);
    overflow: auto;
    height: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

@media only screen and (max-width: 900px) and (min-width: 100px) {

    .container {
        background-size: contain;
        max-width: 100%;
    }

    .content {
        flex-direction: column;
    }

    .content__headings {
        flex: 0 0 30%;
        padding: 1.5rem;
    }

    .content__questions {
        padding: 2rem;
    }
}




