.container {
    background-image: url("../../img/background.jpg");
    background-size: cover;
    height: 100%;
    position: relative;
    flex-wrap: nowrap;
    background-position: top;
}

@media only screen and (min-width: 960px) {

    .container {
        margin: 0;
        height: 75%;
        max-width: 100%;
        width: 100%;
        background-position: bottom;
    }
}

.content {
    height: 100vh;
    display: flex;
}

.content__headings {
    flex-direction: column;
    display: flex;
    font-weight: 200;
    flex: 0 0 50%;
    color: var(--color-white);
    padding: 5rem;
    text-align: left;
}

.content__questions {
    flex: 1;
    padding: 5rem;
    text-align: left;
    font-weight: 200;
    color: var(--color-black);
    background-color: var(--color-white);
}

@media only screen and (max-width: 1024px) and (min-width: 100px) {

    .content {
        flex-direction: column;
    }

    .content__headings {
        /*flex: 0 0 40%;*/
        padding: 2rem;
    }

    .content__questions {
        padding: 2rem;
    }
}




