.container {
    background-image: url("../../img/background.jpg");
    background-size: cover;
    height: 100%;
    position: relative;
    flex-wrap: nowrap;
    background-position: top;
}

.content{
    height: 100vh;
    display: flex;
}

.content__headings {
    flex-direction: column;
    display: flex;
    font-weight: 200;
    flex: 0 0 50%;
    color: var(--color-white);
    padding: 5rem;
    text-align: left;
}

.content__questions {
    flex: 1;
    padding: 5rem;
    text-align: left;
    font-weight: 200;
    color: var(--color-black);
    background-color: var(--color-white);
}




