*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* default font size (16px)*/
    font-size: 62.5% !important;
}

body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@media all and (max-width: 599px) and (min-width: 100px) {
    html {
        font-size: 40% !important;
    }
}

@media all and (max-width: 899px) and (min-width: 600px) {
    html {
        font-size: 55% !important;
    }
}

@media all and (max-width: 1199px) and (min-width: 900px) {
    html {
        font-size: 60% !important;
    }
}

@media all and (min-width: 1200px) {
    html {
        font-size: 65% !important;
    }
}
