.header__brand {
    flex: 0 0 32%;
    font-size: var(--font-medium);
    margin-bottom: 5rem;
}

.header__primary {
    max-width: 32rem;
    flex: 1;
    font-size: var(--font-large);
}

.header__sub-header {
    max-width: 23rem;
    margin-top: 2rem;
    font-size: var(--font-medium);
}

.icon-float-right {
    float: right;
}
