.toggle-list {
    list-style-type: none;
}

.toggle-list li {
    font-size: var(--font-small);
    font-weight: bold;
    max-width: 97%;
    right: -2rem;
    display: list-item;
    position: relative;
    counter-increment: step-counter;
    line-height: 1.6;
}

.toggle-list li::before {
    position: absolute;
    content: counter(step-counter)'.';
    margin-right: 1rem;
    left: -2rem;
}

.toggle-list p {
    color:  var(--color-grey-dark);
    font-size: 1.5rem;
    font-weight: lighter;
    max-width: 97%;
    line-height: 1.6;
}

button[aria-expanded=true]::before {
    content: '\25B2';
}

button[aria-expanded=false]::before {
    content: '\25BC';
}
