.toggle-list {
    list-style-type: none;
}

.toggle-list li {
    max-width: 97%;
    right: -10px;
    display: list-item;
    position: relative;
    counter-increment: step-counter;
}

.toggle-list li::before {
    position: absolute;
    content: counter(step-counter)'.';
    margin-right: 1rem;
    left: -10px;
}

.toggle-list__paragraph {
    max-width: 97%;
}
